stacja_pomiarowa/firmware/build/
stacja_pomiarowa/firmware/stacja-pomiarowa-firmware.sublime-project
baza_danych/*.bak

serwer/HELP.md
serwer/target/
serwer/!.mvn/wrapper/maven-wrapper.jar
serwer/!**/src/main/**/target/
serwer/!**/src/test/**/target/

### STS ###
serwer/.apt_generated
serwer/.classpath
serwer/.factorypath
serwer/.project
serwer/.settings
serwer/.springBeans
serwer/.sts4-cache

### IntelliJ IDEA ###
serwer/.idea
serwer/*.iws
serwer/*.iml
serwer/*.ipr

### NetBeans ###
serwer/nbproject/private/
serwer/nbbuild/
serwer/dist/
serwer/nbdist/
serwer/.nb-gradle/
serwer/build/
serwer/!**/src/main/**/build/
serwer/!**/src/test/**/build/

### VS Code ###
serwer/.vscode/
